body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}
h1 {
    color: #75B79E;
    font-size: 50px;
    font-weight: 700;
    padding: 45px;
}
.conteiner {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 30px;
}
.imagem {
    width: 100px;
    height: 100px;
}
  .card {
    width: 117px;
    height: 146px;
    position: relative;
  }
  
  .face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }
  
  .back-face {
    transform: rotateY(180deg);
  }
 
  .virada .back-face {
    transform: rotateY(0deg);
  }
  
  .virada .front-face {
    transform: rotateY(-180deg);
  }

/* RESPONSIVIDADE */
@media (max-width: 613px){
    h1 {
        font-size: 36px;
        padding: 30px;
        text-align: center;
    }
}